<div class="page">

  <ion-img class="icon" src="./../../assets/inserts/game-title.png"></ion-img>

  <ion-card>

    <ion-segment value="Log-in">
      
      <ion-segment-button value="Log-In" content-id="Log-In">

        <ion-label class="large-text" >Connexion</ion-label>

      </ion-segment-button>

      <ion-segment-button value="Sign-in" content-id="Sign-in">

        <ion-label class="large-text" >Inscription</ion-label>

      </ion-segment-button>

    </ion-segment>

  </ion-card>

  <ion-segment-view>

    <ion-segment-content id="Log-In">

      <ion-card class="center dark">

      <ion-card>

        <ion-card-header>
  
          <ion-card-title class="large-text">
            Connecter vous!
          </ion-card-title>
  
          <ion-card-subtitle>
            et commencer a jouer des maintenant
          </ion-card-subtitle>
  
        </ion-card-header>
  
        <ion-card-content>
  
          <ion-input label="Pseudonyme" labelPlacement="floating" fill="outline"></ion-input>

          <br>
  
          <ion-input label="Mot de passe" labelPlacement="floating" type="password" fill="outline"></ion-input>        
  
        </ion-card-content>
  
      </ion-card>

      <ion-button>Connexion</ion-button>

    </ion-card>
      
    </ion-segment-content>

    <ion-segment-content id="Sign-in">

      <ion-card class="center dark">

      <ion-card>

        <ion-card-header>
  
          <ion-card-title class="large-text">
            Creer votre compte !
          </ion-card-title>
  
          <ion-card-subtitle>
            et commencer a jouer des maintenant
          </ion-card-subtitle>
  
        </ion-card-header>
  
        <ion-card-content>
  
          <ion-input label="Pseudonyme" labelPlacement="floating" fill="outline"></ion-input>

          <br>
  
          <ion-input label="Mot de passe" labelPlacement="floating" type="password" fill="outline"></ion-input>
          
          <br>
  
          <ion-input label="Confirmer votre mot de passe" labelPlacement="floating" type="password" fill="outline"></ion-input>        
  
        </ion-card-content>
  
      </ion-card>

      <ion-button>Creer votre compte</ion-button>

    </ion-card>

    </ion-segment-content>

  </ion-segment-view>

  <div class="filled"></div>

  <ion-card class="footer">

    <ion-card-content>

      Propulse par MeepleMaker

    </ion-card-content>
    
  </ion-card>

</div>